@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
}
<div id="layoutSidenav_nav">
    
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading">RegisPromotion_Ver1.01</div>
                @if (User.Identity.IsAuthenticated)
                {   
                    <a class="nav-link" href="#">
                        <div class="nav-link-icon"></div>
                        API
                    </a>
                    <!-- Sidenav Accordion (Pages)-->
                    <a class="nav-link collapsed @(currentController == "PhoneNumber" ? "active" : "")" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                        <div class="nav-link-icon"><i data-feather="grid"></i></div>
                        Quản lý thiết bị
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapsePages" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                            <a class="nav-link" asp-controller="PhoneNumber" asp-action="Create">Thêm mới</a>
                            <a class="nav-link" asp-controller="PhoneNumber" asp-action="Index">Danh sách</a>
                        </nav>
                    </div>
                    <!-- Sidenav Accordion (Flows)-->
                    <a class="nav-link collapsed  @(currentController == "Site" ? "active" : "")" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseFlows" aria-expanded="false" aria-controls="collapseFlows">
                        <div class="nav-link-icon"><i data-feather="globe"></i></div>
                        Quản lý site
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapseFlows" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav">
                            <a class="nav-link" asp-controller="Site" asp-action="Create">Thêm mới</a>
                            <a class="nav-link" asp-controller="Site" asp-action="Index">Danh sách Site</a>
                        </nav>
                    </div>

                    <a class="nav-link collapsed @(currentController == "SMS" ? "active" : "")" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#SMS_Project" aria-expanded="false" aria-controls="SMS_Project">
                        <div class="nav-link-icon">
                            <i data-feather="mail"></i>
                        </div>
                        Quản lý sms
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="SMS_Project" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAppsMenu">
                            <a class="nav-link" asp-controller="SMS" asp-action="Index">Tất cả</a>
                            <a class="nav-link" asp-controller="SMS" asp-action="Index" asp-route-SeachStatus="9">Chưa xác thực</a>
                            <a class="nav-link" asp-controller="SMS" asp-action="Index" asp-route-SeachStatus="1">Đã xác thực</a>
                        </nav>
                    </div>
                    <a class="nav-link @(currentController == "LogAccount" ? "active" : "")" asp-controller="LogAccount" asp-action="Index">
                        <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                        Danh sách IP/FP Account</a>

                    <a class="nav-link" asp-controller="SMSRawData" asp-action="Index">
                        <div class="nav-link-icon">
                            <i data-feather="mail"></i>
                        </div>
                        Tin nhắn đến
                    </a>
                    @*   <a class="nav-link @(currentController == "WhiteListIP" ? "active" : "")" asp-controller="WhiteListIP" asp-action="Index">
                    <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                    Danh sách IP khách
                    </a> *@
                        @*  <a class="nav-link  @(currentController == "Auth" ? "active" : "")" asp-controller="Auth" asp-action="Index">
                        <div class="nav-link-icon"><i data-feather="user"></i></div>
                        Quản lý tài khoản
                    </a> *@
                }
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
        <!-- Sidenav Footer-->
        <div class="sidenav-footer">

            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>
                <div class="sidenav-footer-title">@User.Identity.Name</div>
            </div>
        </div>
        }
    </nav>
</div>