@using FE.ADMIN.Utility
@model List<SMSDTO>

<div class="card mb-4">
	<div class="card-header">
		Lịch sử phát thưởng
	</div>

	<div class="card-body">
		<table id="datatablesSimple">
			<thead>
				<tr>
					<th>
						Tài khoản
					</th>
					<th>
						SĐT Gửi
					</th>
					<th>
						Nội dung
					</th>
					<th>
						Thiết bị
					</th>
					<th>
						Trạng thái
					</th>
					<th>T/gian yêu cầu</th>
					<th>T/gian nhận thưởng</th>
					<th style="width:215px">
						Thao tác
					</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null && Model.Count > 0)
				{
					@foreach (var sms in Model)
					{
						<tr>
							<td>
								@sms.Account
							</td>
							<td>
								@ConverPhoneShow.FormatPhoneNumber(@sms.Sender)
							</td>
							<td>
								@sms.Content
							</td>
							<td>
								@sms.Device
							</td>
							<td>
								@if (@sms.Status)
								{
									<span>Đã phát thành công </span>
								}
								else
								{
									<span>Đợi phát</span>
								}
							</td>
							<td>
								@(sms.SiteTime?.ToString("dd/MM/yyyy HH:mm:ss") ?? "Null")

							</td>
							<td>
								@(sms.CreatedTime?.ToString("dd/MM/yyyy HH:mm:ss") ?? "Null")
							</td>
							<td>
								<a href="#" type="button" class="btn btn-primary btn-sm me-2 views-detail" data-id="@sms.Id">
									<i data-feather="file-text"></i>
									View
								</a>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
    <script>
		window.addEventListener('DOMContentLoaded', event => {
			// https://github.com/fiduswriter/Simple-DataTables/wiki
			const datatablesSimple = document.getElementById('datatablesSimple');
			if (datatablesSimple) {
				new simpleDatatables.DataTable(datatablesSimple);
				// const searchInput = document.getElementById('searchInput');
				// searchInput.addEventListener('input', () => {
				// 	const searchTerm = searchInput.value;

				// 	// Gọi API với tham số tìm kiếm
				// 	fetch(`/api/yourApiEndpoint?searchTerm=${encodeURIComponent(searchTerm)}`)
				// 		.then(response => response.json())
				// 		.then(data => {
				// 			// Xóa dữ liệu cũ
				// 			datatablesSimple.destroy();
				// 			const tableBody = document.querySelector('#datatablesSimple tbody');
				// 			tableBody.innerHTML = '';

				// 			// Thêm dữ liệu mới
				// 			data.forEach(item => {
				// 				const row = tableBody.insertRow();
				// 				// Thêm các ô dữ liệu vào hàng tương ứng
				// 				// ...
				// 			});
				// 			// Tạo lại DataTable
				// 			datatablesSimple.init();
				// 		})
				// 		.catch(error => console.error('Error:', error));
				// });
			}



		});
    </script>
}
