@using FE.CLIENT.Utility
@model SMSDTO;
@{
    SMSDTO smsInfo = ViewBag.DataSMS as SMSDTO;
}
@* @{
    string CalculateMD5(string input)
    {
        using (System.Security.Cryptography.MD5 md5 = System.Security.Cryptography.MD5.Create())
        {
            byte[] inputBytes = System.Text.Encoding.ASCII.GetBytes(input);
            byte[] hashBytes = md5.ComputeHash(inputBytes);
            System.Text.StringBuilder sb = new System.Text.StringBuilder();
            for (int i = 0; i < hashBytes.Length; i++)
            {
                sb.Append(hashBytes[i].ToString("x2"));
            }
            return sb.ToString();
        }
    }
} *@

<div class="form-body form-body-step-2">
    <div class="form-step-2">
        <div class="curious-thumbnail d-none">
            <img src="./images/image-register.png" alt="ảnh 789BET" />
        </div>
        <div class="text-sp">
            <p>Kiểm tra thông tin tài khoản </p>
        </div>
        <div class="from-content">
            <div class="account-show">
                <span>Xin Chào, @smsInfo.Account</span>
            </div>
            <div class="telephone-account">
                Số điện thoại của bạn: @smsInfo.Sender
            </div>
            <div class="layer-form">
                <div class="title-text">
                    <span>Mã Gửi SMS</span>
                </div>
                <div class="input-group-sms">
                    <input class="input-group" id="content" placeholder="Nội dung gửi đi" value="@smsInfo.Content" />
                    <div class="form_item-btn ">
                        <button class="btn-submit button-copy button-copy-content" id="btnCopyContent" data-clipboard-text="@smsInfo.Content">
                            <span class="icon-copy">
                                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.32277 4.36482V10.5476C4.32277 11.4013 5.0148 12.0933 5.86846 12.0933H10.5055M4.32277 4.36482V2.81913C4.32277 1.96547 5.0148 1.27344 5.86846 1.27344H9.41258C9.61754 1.27344 9.81416 1.35486 9.95906 1.4998L13.3706 4.91131C13.5155 5.05624 13.5969 5.25282 13.5969 5.45779V10.5476C13.5969 11.4013 12.9049 12.0933 12.0512 12.0933H10.5055M4.32277 4.36482H2.77708C1.92341 4.36482 1.23138 5.05685 1.23138 5.91052V13.639C1.23138 14.4927 1.92341 15.1847 2.77708 15.1847H8.95985C9.81354 15.1847 10.5055 14.4927 10.5055 13.639V12.0933" stroke="white" stroke-width="1.39714" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="text">Copy</span>
                            <span class="shows-text">Đã Copy</span>
                        </button> 
                    </div>
                </div>
            </div>
            <div class="layer-form">
                <div class="title-text">
                    <span>Gửi đến SĐT </span>
                </div>
                <div class="input-group-sms">
                    <input class="input-group" id="contentPhone" placeholder="Gửi đến số điện thoại" value="@smsInfo.PhoneReceive" />
                    <div class="form_item-btn ">
                        <button class="btn-submit button-copy button-copy-content" id="btnCopyContentPhone" data-clipboard-text="@smsInfo.PhoneReceive">
                            <span class="icon-copy">
                                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.32277 4.36482V10.5476C4.32277 11.4013 5.0148 12.0933 5.86846 12.0933H10.5055M4.32277 4.36482V2.81913C4.32277 1.96547 5.0148 1.27344 5.86846 1.27344H9.41258C9.61754 1.27344 9.81416 1.35486 9.95906 1.4998L13.3706 4.91131C13.5155 5.05624 13.5969 5.25282 13.5969 5.45779V10.5476C13.5969 11.4013 12.9049 12.0933 12.0512 12.0933H10.5055M4.32277 4.36482H2.77708C1.92341 4.36482 1.23138 5.05685 1.23138 5.91052V13.639C1.23138 14.4927 1.92341 15.1847 2.77708 15.1847H8.95985C9.81354 15.1847 10.5055 14.4927 10.5055 13.639V12.0933" stroke="white" stroke-width="1.39714" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="text">Copy</span>
                            <span class="shows-text">Đã Copy</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="wrap-form-sms">
                <div class="wrap-form-send-sms" id="wrap-form-send-sms">
                    @* <svg width="30" height="30" viewBox="0 0 35 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.7462 1.03459C24.5074 0.784617 24.1935 0.64624 23.884 0.64624C23.5745 0.64624 23.2649 0.771226 23.0262 1.01673L13.2587 11.1361C12.905 11.5021 12.7944 12.1315 12.9846 12.6136C13.1747 13.0957 13.6213 13.5019 14.1165 13.5019H18.7106C19.4712 13.5019 20.0858 13.8143 20.0858 14.1982C20.0858 14.5821 19.4712 14.8946 18.7106 14.8946H1.50148C0.740955 14.8946 0.126343 15.515 0.126343 16.2828V36.4367C0.126343 37.2045 0.740955 37.8249 1.50148 37.8249H31.7899C32.5505 37.8249 33.1651 37.2045 33.1651 36.4367V16.2828C33.1651 15.515 32.5505 14.8946 31.7899 14.8946H29.0352C28.2747 14.8946 27.6601 14.5821 27.6601 14.1982C27.6601 13.8143 28.2747 13.5019 29.0352 13.5019H33.4923C33.9875 13.5019 34.4297 13.1046 34.6198 12.6225C34.8055 12.1404 34.7038 11.5289 34.3545 11.1629L24.7462 1.03459ZM20.0902 18.3629V25.2282C20.0902 25.996 19.6524 27.0583 19.1174 27.6029L17.6229 29.1117C17.0879 29.6518 16.2124 29.6518 15.6774 29.1117L4.6276 17.9567C4.08816 17.4121 4.26945 16.9747 5.02998 16.9747H18.715C19.4756 16.9747 20.0902 17.5952 20.0902 18.3629ZM3.16403 19.4298L9.04927 25.371C9.58872 25.9111 9.58872 26.795 9.04927 27.3351L3.16403 33.2764C2.62459 33.8209 2.19126 33.6379 2.19126 32.8702V19.836C2.19126 19.0682 2.62901 18.8852 3.16403 19.4298ZM4.62318 34.7539L10.5084 28.8126C11.0479 28.268 11.9189 28.268 12.454 28.8126L15.6685 32.0578C16.208 32.6023 17.079 32.6023 17.614 32.0578L19.9841 29.6652C20.5191 29.1251 21.0585 28.7278 21.1912 28.759C21.2708 28.7769 21.3548 28.7858 21.4344 28.7858H22.0667C22.416 28.7858 23.1367 29.2233 23.6762 29.7634L28.655 34.7539C29.1944 35.294 29.0175 35.7314 28.257 35.7314H5.02998C4.26945 35.7314 4.08816 35.2895 4.6276 34.7494L4.62318 34.7539ZM30.123 33.2853L26.6122 29.7634C26.0727 29.2233 25.7897 28.7858 25.9799 28.7858H26.3247C26.9968 28.7858 27.6601 28.1564 27.6601 27.4467V23.3132C27.6601 22.5455 28.0978 21.4831 28.6329 20.943L30.1274 19.4342C30.6668 18.8896 31.1001 19.0727 31.1001 19.8404V32.8791C31.1001 33.6469 30.6624 33.8299 30.123 33.2898V33.2853ZM28.6638 17.9523L28.6284 17.988C28.089 18.5325 27.6557 18.5236 27.6557 17.9701C27.6557 17.4166 28.0978 16.9702 28.6461 16.9702C29.1944 16.9702 29.1988 17.4121 28.6638 17.9523ZM24.901 12.0333V24.6122C24.901 25.38 24.4367 26.0004 23.8707 26.0004C23.3047 26.0004 22.836 25.38 22.836 24.6122V12.0333C22.836 11.3236 22.1109 10.7165 21.4344 10.7165H18.4674C17.7069 10.7165 17.5212 10.2701 18.0518 9.72107L22.9068 4.69041C23.4374 4.14137 24.2952 4.14583 24.8214 4.69934L29.5879 9.71215C30.1141 10.2657 29.924 10.7165 29.1635 10.7165H26.3159C25.6438 10.7165 24.8965 11.3236 24.8965 12.0333H24.901Z"
                    fill="white" />
                    </svg> *@
                    <span>GỬI NHANH</span>
                </div>
                <div class="back-home-ss" id="back-homeme">
                    <span class="icon-home-back">
                        <img class="w-100" src="./images/home-01-01-2.gif" alt="Trang chủ 789BET"  />
                    </span>
                </div>
                <div class="wrap-form-sended-sms" id="wrap-form-sended-sms">
                    @*                                 <svg width="30" height="30" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.1076 15.4492H29.9644C29.8831 15.4492 29.8212 14.8346 29.8212 14.0742V10.2897C29.8212 9.52931 29.2833 8.91478 28.6177 8.91478H26.2068C25.5412 8.91478 25.0033 8.30024 25.0033 7.53981V1.58016C25.0033 0.877207 24.4228 0.306885 23.8346 0.306885H19.5585C18.9702 0.306885 18.3743 0.877207 18.3743 1.58016V7.53539C18.3743 8.29582 17.8364 8.91035 17.1708 8.91035H2.10561C1.44 8.91035 0.9021 9.52489 0.9021 10.2853V30.2466C0.9021 31.007 1.44 31.626 2.10561 31.626H28.6138C29.2794 31.626 29.8173 31.0115 29.8173 30.2466V20.3301C29.8173 19.5696 30.0495 18.6766 30.3397 18.3317L30.8622 17.7084C31.1679 17.3458 31.2569 16.7667 31.0944 16.2936C30.9279 15.8161 30.541 15.4492 30.1076 15.4492ZM26.8066 15.4492H26.5783C25.9127 15.4492 25.754 15.0115 26.2261 14.4765L27.1588 13.411C27.6309 12.8717 28.0101 13.0529 28.0101 13.8134V14.0742C28.0101 14.8346 27.4722 15.4492 26.8066 15.4492ZM25.8817 11.9477L25.8508 11.983C25.3786 12.5224 24.9994 12.5136 24.9994 11.9653C24.9994 11.4171 25.3864 10.975 25.8662 10.975C26.3461 10.975 26.3538 11.4127 25.8817 11.9477ZM20.7813 4.4362C20.7813 3.67577 21.1876 3.06123 21.6868 3.06123C22.1861 3.06123 22.5924 3.67577 22.5924 4.4362V16.8374C22.5924 17.5404 23.2425 18.1991 23.8307 18.1991H26.3229C26.9885 18.1991 27.1549 18.6456 26.6944 19.1938L22.5227 24.1587C22.0622 24.707 21.3115 24.7114 20.8471 24.1676L16.598 19.185C16.1337 18.6412 16.2962 18.1991 16.9618 18.1991H19.5585C20.1505 18.1991 20.7852 17.5404 20.7852 16.8374V4.4362H20.7813ZM18.3704 12.35V14.0698C18.3704 14.8302 17.8325 15.4447 17.1669 15.4447H13.1462C12.7128 15.4447 12.3219 15.8161 12.1555 16.2936C11.9891 16.7711 12.0858 17.3768 12.3954 17.7393L15.708 21.621C16.1724 22.1648 16.2846 22.912 15.9557 23.2834C15.6267 23.6592 14.9805 23.5265 14.5083 22.9872L4.8377 11.9477C4.36558 11.4083 4.52424 10.975 5.18985 10.975H17.1669C17.8325 10.975 18.3704 11.5895 18.3704 12.35ZM3.55679 13.4066L8.70751 19.2911C9.17962 19.8305 9.17962 20.7014 8.70751 21.2364L3.55679 27.1209C3.08467 27.6603 2.70543 27.479 2.70543 26.7186V13.8089C2.70543 13.0485 3.08854 12.8672 3.55679 13.4066ZM4.83383 28.5843L9.98454 22.6998C10.4567 22.1648 11.219 22.1648 11.6873 22.6998L14.5006 25.9139C14.9727 26.4533 15.7351 26.4533 16.2033 25.9139L16.9502 25.0607C17.4223 24.5213 18.1769 24.5301 18.6452 25.0739L20.9361 27.7619C21.1451 28.0051 21.416 28.1245 21.6868 28.1245C21.9577 28.1245 22.2325 27.9874 22.4415 27.7354C22.4415 27.7354 22.7317 27.3862 23.0955 26.9573C23.4553 26.5285 24.1326 26.6125 24.6047 27.1518L25.8701 28.5887C26.3422 29.1236 26.1836 29.5569 25.5218 29.5569H5.19372C4.52811 29.5569 4.36945 29.1192 4.84157 28.5843H4.83383ZM27.151 27.1342L25.8546 25.6619C25.3825 25.127 25.3748 24.2472 25.8353 23.699L27.1742 22.1029C27.6347 21.5547 28.0062 21.7271 28.0062 22.4876V26.7318C28.0062 27.4923 27.6231 27.6735 27.151 27.1386V27.1342Z"
                    fill="#FFFFFF" />
                    </svg> *@
                    <span>Xác nhận</span>
                </div>
            </div>
            <div class="footer-text">
                <p>Khi gửi tin nhắn SMS thành công, quý khách vui lòng quay lại đây ấn <span class="text-ss">xác nhận</span></p>
                <p class="text-note mb-0">Cảm ơn quý khách !!!</p>
            </div>
        </div>
    </div>
</div>
<input id="verifycode" hidden value="@smsInfo.VerifyCode" />
